

.project_box_container{
    width: 500px;
    margin: 20px;
    box-shadow: 0 5px 15px red;
    padding: 0 10px;
    padding-top: 5px;
}
.project_box_image_container > img{
    width: 500px;
}
.project_box_description_container{
    padding: 0 10px;
}
.project_box_title{
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    color: red;
}
.project_box_sentences_container > p, .project_box_link {

    font-size: 16px;

}
.project_box_link > span {
    color: red;
    font-weight: 700;
}

.project_box_link > a{
    color: white;
}